# Core data libraries
numpy==1.26.4
pandas
scikit-learn==1.4.2
joblib
shap

# Visualization
matplotlib
seaborn
plotly

# Web app
streamlit

# Misc / notebooks
ipython

# Google GenAI SDK
google-genai
